<main class="winners-container">
  <div class="winners-input">
    <div class="winners-input-container">
      <div>
        <p class="winners-btn-select-title">Primer puesto</p>
        <select
          class="winners-btn-select js-select1"
          class="form-input-winners"
          name=""
          id=""
        >
          <option class="input js-winner1" value=""></option>
        </select>
      </div>
      <div>
        <p class="winners-btn-select-title">Segundo puesto</p>
        <select class="winners-btn-select js-select2" name="" id="">
          <option class="input js-winner2" value=""></option>
        </select>
      </div>
      <div>
        <p class="winners-btn-select-title">Tercer puesto</p>
        <select class="winners-btn-select js-select3" name="" id="">
          <option class="input js-winner3" value=""></option>
        </select>
      </div>
    </div>
    <div class="btn-submit-winners-container">
      <button class="btn-submit-winners js-btn">ENVIAR GANADORAS!</button>
    </div>
  </div>
  <section class="section-list">
    <div>
      <h3 class="section-list-title js-sticker-title">Adalab debe...</h3>
    </div>
    <div>
      <ul class="section-list-ul js-sticker-list"></ul>
    </div>
  </section>
</main>
