<main class="winners-container">
  <div class="winners-input">
    <div>
      <h4>Primer puesto</h4>
      <select
        class="winners-btn-select js-select1"
        class="form-input-winners"
        name=""
        id=""
      >
        <option class="input js-winner1" value=""></option>
      </select>
    </div>
    <div>
      <h4>Segundo puesto</h4>
      <select class="winners-btn-select js-select2" name="" id="">
        <option class="input js-winner2" value=""></option>
      </select>
    </div>
    <div>
      <h4>Tercer puesto</h4>
      <select class="winners-btn-select js-select3" name="" id="">
        <option class="input js-winner3" value=""></option>
      </select>
    </div>
    <button class="btn-submit-winners js-btn">ENVIAR GANADORAS!</button>
  </div>
  <section class="section-list">
    <h3 class="section-list-title js-sticker-title">Adalab debe...</h3>
    <ul class="section-list-ul js-sticker-list"></ul>
  </section>
</main>
