.page__footer {
  font-size: 18px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100vw;
  padding: 1rem;
  background-color: $background;
  color: $purple;
}

.far {
  margin: 0 5px 0 5px;
}
