.header {
  &-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 90px;
    margin-bottom: 100px;
    text-align: center;
    align-items: center;
  }
  &-title {
    font-family: $font-main;
    color: white;
    font-size: 80px;
    margin-bottom: 15px;
  }
  &-subtitle {
    font-family: $font-main;
    color: white;
    font-size: 22px;
  }
}
