.section-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 2;
  color: white;
  width: 80%;
  width: 600px;
  margin: 10px 10px 30px 10px;
  &-ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 420px;
    text-align: initial;
    border: solid 2px transparent;
    justify-content: flex-start;
    padding-bottom: 60px;
  }
  &-el {
    margin: 0 30px 0 30px;
    font-size: 20px;
  }
  &-title {
    font-size: 30px;
  }
}

.winners {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-input {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    line-height: 3;
    width: 80%;
    &-container {
      display: flex;
      flex-direction: row;
    }
  }
  &-btn-select {
    margin: 10px 30px 20px 0;
    width: 200px;
    height: 30px;
    font-size: 22px;
    &-title {
      font-weight: bold;
      height: 30px;
    }
  }
}

.btn-submit-winners {
  font-weight: bold;
  font-size: 18px;
  border-radius: 25px;
  width: 270px;
  height: 55px;
  margin: 25px 0 0 0;
  transition: 0.3s;
  &:hover {
    background: $purple-medium;
    color: white;
  }
}

@media all and (max-width: 1200px) and (min-width: 768px) {
  .section-list {
    &-title {
      font-size: 24px;
    }
  }

  .winners {
    &-input {
      flex-direction: column;
    }
    &-btn-select {
      margin: 5px 20px 20px 0;
      height: 25px;
      font-size: 20px;
    }
  }

  .btn-submit-winners {
    margin: 10px 0 0 0;
    width: 240px;
    height: 40px;
  }
}

@media all and (max-width: 768px) {
  .section-list {
    width: 300px;
    height: max-content;
    margin-top: 25px;
    &-ul {
      height: max-content;
      flex-wrap: nowrap;
    }
    &-el {
      font-size: 16px;
    }
    &-title {
      font-size: 24px;
    }
  }

  .winners {
    &-input {
      flex-direction: column;
      width: 300px;
      &-container {
        align-items: center;
        width: 300px;
        flex-direction: column;
      }
    }
    &-btn-select {
      height: 20px;
      font-size: 18px;
      margin: 0px;
    }
  }
  .btn-submit-winners {
    font-size: 16px;
    width: 220px;
    height: 45px;
    margin: 15px 0 0 0;
  }
}
